<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public\style.css" />
    <title>Document</title>
</head>
<body>
  <section id="biography">

    <h1>Biography</h1>


    <p>Mike Lévy (French pronunciation: ​[majk levi]; born 13 June 1987),[1][2][3] known professionally as Gesaffelstein (German pronunciation: [ɡəˈzafl̩ʃtaɪ̯n]), is a French musician, DJ, songwriter and record producer from Lyon. He has worked alongside The Weeknd, Daft Punk, Kanye West, A$AP Rocky, Electric Youth, Haim, Miss Kittin, The Hacker, Jean-Michel Jarre and Pharrell Williams. He currently resides in Paris.</p>




  </section>



    <nav>
        <h3>Website links</h3>
    <ul>
        <li><a href="/home">Homepage</a></li>
        <li>About</li>
        <li><a href="/works">Works</a></li>
        <li><a href="/photos">Photos</a></li>
</ul>
</nav>
    
</body>
</html>