<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>WORKS Gesaffelstein</title>
    <link rel="stylesheet" href="public\style.css" />
  </head>
  <body>
    <section id="main">
        <h1>Gesaffelstein</h1>
        <h2>Works</h2>
        <img src="https://www.hoyesarte.com/constelac10n/files/2020/11/Gesaffelstein-Pursuit.jpg" style="width:12%">

        <p><h2>Albums</h2>
            <ul>
           <li> Aleph (2013)</li>
           <li>Hyperion (2019)</li>

        </ul>
            <h2>EP</h2>

            <ul>   
                <li>Vengeance Factory (2008)</li>
                <li>Modern Walk (2008)</li>
                <li>The Operator (2009)</li>
                <li>Variations (2010)</li>
                <li>Conspiracy PT. I (2011)</li>
                <li>Conspiracy PT. II (2011)</li>
                <li>Bromance #1 (2011)</li>
                <li>Conspiracy Remixes (2012)</li>
                <li> Bromance #4 : Rise of Depravity (2012)</li>
                <li>Novo Sonic System (2019)</li>

        </ul>
        <li> Singles</li>
        <li> Pursuit (2013)</li>
        <li> Hate or Glory (2013)</li>
        <li> Conquistador (Featuring Jean Michel Jarre) (2015)</li>
        <li> Reset (2018)</li>
        <li> Lost in the Fire ft The Weeknd (2019)</li>
        <li> Blast Off ft. Pharrell Williams (2019)</li></p>
</section>
<nav>
        <h3>Website links</h3>
    <ul>
        <li><a href="/home">Homepage</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#">Works</li>
        <li><a href="/photos">Photos</a></li>
</ul>
</nav>
   </body>
</html> 